*{
    text-align: center;
    font-family: "Dosis", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}
ul,a{
    all:unset;
}
body{
    margin: 0;
    background-color:#5c4742;
}
/* Navbar */
nav{
    font-size: 20px;
    background-color: #c4bbaf;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5%;
    padding-bottom: .5%;
}
nav img{
    margin-left: 5%;
    margin-top: .5%;
    filter: invert(25%) sepia(5%) saturate(2549%) hue-rotate(324deg) brightness(97%) contrast(80%);
}
#nav_left{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}
#nav_left a, #nav_left select{
    all:unset;
    color: #5c4742;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease-in-out;
    border: solid 2px;
    padding: .5%;
}
#nav_left a:hover, #nav_left select:hover{
    background-color: #5c4742;
    border-color: #5c4742;
    color: #c4bbaf;
}
#nav_left option{
    border-radius: 0px;
}
/* Homepage */
.description{
    color: #c4bbaf;
    height: 100vh;
    display: grid;
    grid-template-columns:  repeat(5,20%);
    grid-template-rows: 3fr 10% 10% 30% 1fr;
}
#box{
    border-top: solid 2px;
    border-bottom: solid 2px;
    grid-area: 2/1/2/6;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
}
#topic{
    grid-area: 2/1/3/6;
    margin-top: 2%;
    margin-bottom: 2%;
}
#box:hover{
    background-color: #c4bbaf;
    color: #5c4742;
}
.description p, .description b{
    grid-area: 4/2/4/5;
    font-size: 20px;
}
.arrow{
    grid-area: 5/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow p{
    font-size: 7vmin;
    animation: descend 2s ease infinite;
}
@keyframes descend{
    from{transform:translateY(-5px);}
    50%{transform:translateY(5px);}
    to{transform: translateY(-5px);}
}
.content{
    margin-top: 5%;
    color: #E3E4DB;
    font-size: 20px;
    background-color: #aea4bf;
}
/*general*/
header{
    color:#aea4bf;
}
.heading{
    background-color:#E3E4DB;
    padding: 2%;
    margin: 0;
    margin-bottom: 1%;
}
#main, #interests{
    display: grid;    
    grid-template-columns: 1fr 20% 60% 10% 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr  10% 1fr 1fr 1fr  10% 1fr 1fr 1fr;
    margin-top: 5%;
}
#hobby{
    margin-top: 5%;
}
.subheader{
    background-color: #E3E4DB;
    color:#aea4bf;
    align-self: center;
}
p:not(#moreDetails, .description p){
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}
.box{
    border: solid 5px;
    border-right: none;
}
footer p{
    border-top: solid 5px;
    padding-top: 2%;
    margin: 0;
    margin-top: 1%;
}

main img{
    width: 100%;
    height: auto;
    border: solid 5px;
    padding: 2%;
}
/* Interests */
.block{ /*seperator*/
    border: solid 2px;
    align-self: center;
    box-shadow: gray 0px 5px 5px;
}
#cat{
    grid-area: 1/1/1/6;
}
#catImg{
    grid-area: 1/2;
}
#catP, #catBox{
    grid-area: 2/3/2/6;
    /* display: flex;
    justify-content: end;
    align-items:center;
    padding-right: 15%; */
}
#catB{grid-area:4/1/4/6}
#book{
    grid-area: 5/1/5/6;
}
#bookP, #bookBox{
    grid-area: 6/3/6/6;
}
#bookImg{
    grid-area: 5/2;
}
#bookB{grid-area:8/1/8/6}
#art{
    grid-area: 9/1/9/6;
}
#artP, #artBox{
    grid-area: 10/3/10/6;
}
#artImg{
    grid-area: 9/2;
}
#artB{grid-area:12/1/12/6}
/* links */
.inline_link{
    cursor: pointer;
}
.inline_link:hover{
    text-decoration: underline;
} /*bottom nav links*/
.links a:link{
    display: inline-block;
    cursor: pointer;
    border: solid 2px;
    padding: .5%;
    margin: 1%;
}
.links a:hover{
    text-decoration: underline;
}
.links a:active{
    text-decoration:line-through;
}
.links a:visited{
    color:rgb(122, 119, 119);
}
.links{
    grid-area: 13/1/13/6;

    padding: 1%;
    color:#aea4bf;
    background-color: #E3E4DB;
}

.wrap{
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#catMe{
    float:inline-start;
}
#who{
    color: #E3E4DB;  
    padding: 2%;
}
