*{
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  header{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #5c4742;
    background-color: #c4bbaf;
    transition: .5s ease-in-out;
    border-top: solid 2px;
    border-bottom: solid 2px;
    user-select: none;
  }
  header img{
    margin-right: 1%;
  }
  .cup_color{
    filter: invert(25%) sepia(5%) saturate(2549%) hue-rotate(324deg) brightness(97%) contrast(80%);
    transition: .5s ease-in-out;
  }
  header:hover{
    background-color: #5c4742;
    color: #c4bbaf;
  }
  header:hover .cup_color{
    filter: invert(83%) sepia(8%) saturate(407%) hue-rotate(355deg) brightness(94%) contrast(80%);
  }
  body{
    color: #c4bbaf;
    margin: 0;
  }
  ul, a{
    all: unset;
  }
  li{
    padding: 1%;
    border: solid 2px;
    display: inline-block;
    cursor: pointer;
  }
  .active{
    transition: .3s ease-in-out;
  }
  .active:hover{
    background-color: #c4bbaf;
    color: #5c4742;
  }
  p{
    padding: 5%;
  }
  hr{
    border: #c4bbaf solid 1px;
  }
  footer{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 100%;
  }